@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ddd;
}

.inputStyle::placeholder {
  color: #605f5f;
  font-size: 15px;
}


.parent:hover {
  background-color: #475387;
  transition: background-color 0.3s ease;
}

.parenttwo:hover {
  background-color: #fff;
  color: #475387;
  border: 1px solid #475387;
  transition: background-color 0.3s ease;
}


.parent:hover .child {
  fill: #fff;
  transition: fill 0.3s ease;
}